version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: badminton_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    container_name: badminton_server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/badminton-booking
      - JWT_SECRET=supersecretkey12345
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: badminton_client
    ports:
      - "5173:80"
    depends_on:
      - server

volumes:
  mongo-data:
